<div class="profile-wrapper">
    <div class="profile-container">
      <h2 class="text-center mb-4">Mon profil</h2>

      <!-- Form Profil -->
      <form class="w-100">
        <div class="form-group mb-3">
          <label class="form-label">Nom d'utilisateur</label>
          <input type="text" class="form-control" [(ngModel)]="user.username" name="username" />
        </div>
  
        <div class="form-group mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" [(ngModel)]="user.email" name="email" />
        </div>
  
        <div class="form-group mb-4">
          <label class="form-label">Bio</label>
          <textarea class="form-control" rows="3" [(ngModel)]="user.bio" name="bio"></textarea>
        </div>
  
        <button class="btn-unified w-100" type="button" (click)="updateProfile()">Sauvegarder</button>
      </form>
  
      <hr class="my-4 w-100" />
  
      <form class="w-100">
        <div class="form-group mb-3">
          <label class="form-label">Nouveau mot de passe</label>
          <input type="password" class="form-control" [(ngModel)]="newPassword" name="password" />
        </div>
        <button class="btn-unified w-100" type="button" (click)="updatePassword()">Changer le mot de passe</button>
      </form>
      <hr class="my-4 w-100" />

<div class="form-group mb-3 text-center">
  <label class="form-label">Mon abonnement :</label>
  <p [ngClass]="{'text-success': user.isPremium, 'text-danger': !user.isPremium}">
    <ng-container *ngIf="isTrialActive(); else abonnementStatus">
      📅 Période gratuite en cours
    </ng-container>
    <ng-template #abonnementStatus>
      {{ user.isPremium ? 'En cours' : 'Inactif' }}
    </ng-template>
  </p>
  
  <button 
    class="btn-unified"
    *ngIf="user.isPremium"
    (click)="cancelSubscription()"
  >
    Désactiver mon abonnement
  </button>
</div>

    </div>
  </div>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <ul>
          <li><a routerLink="/terms" href="/terms">Conditions d'utilisation</a></li>
          <li><a routerLink="/politique-confidentialite" href="/politique-confidentialite">Politique de Confidentialité</a></li>
          <li><a routerLink="/faq" href="/faq">FAQ</a></li>
        </ul>
      </div>
      </div>
  </footer>
  