<div class="teleprompteur-wrapper">
  <div class="top-buttons">
    <button class="btn red" (click)="startRecording()" [disabled]="isRecording || !stream">
      ⏺ Start Recording
    </button>
    <button class="btn dark" (click)="startCamera()">
      📷 Start Camera
    </button>
  </div>

  <div class="video-box">
    <video #videoElement
           autoplay
           muted
           playsinline
           class="video mirror"
           webkit-playsinline
           disablePictureInPicture
           controlslist="nodownload nofullscreen">
    </video>

    <div class="texte-overlay">
      <div class="trait"></div>
      <div class="texte" #texteElement [class.scrolling]="isScrolling">
        {{ texte }}
      </div>
    </div>

    <div *ngIf="isRecording" class="timer">⏱ {{ recordingTime }}s</div>

    <!-- Bouton plein écran dans la vidéo -->
    <button class="fullscreen-toggle" (click)="toggleFullscreen()" matTooltip="Plein écran">
      <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
    </button>
  </div>
  <div class="prompt-label">Vitesse du prompteur</div>
  <div class="prompt-speed">
    <button class="circle" (click)="decreaseSpeed()">−</button>
    <div class="speed-display">{{ vitesse }}s</div>
    <button class="circle" (click)="increaseSpeed()">＋</button>
  </div>

  <textarea
    class="input-text"
    [(ngModel)]="texte"
    (ngModelChange)="updateScrollSpeed()"
    placeholder="Enter your script...">
  </textarea>

  <button class="btn stop" (click)="stopRecording()" [disabled]="!isRecording">🛑 Stop</button>

  <div *ngIf="countdown > 0" class="countdown">{{ countdown }}</div>

<!-- Dans ton composant parent, par exemple app.component.html -->
<button (click)="openPaywall()">Débloquer Premium</button>

  <div class="popup-overlay" *ngIf="showSuccessPopup">
    <div class="popup-card">
      <h2>✅ Paiement validé !</h2>
      <p>Merci beaucoup pour votre soutien 🎉</p>
      <button class="btn btn-primary btn-custom" (click)="closeSuccessPopup()">Fermer</button>
    </div>
  </div>
</div>
<app-payment-popup [show]="showPaymentPopup" (closed)="showPaymentPopup = false"></app-payment-popup>