<div class="video-list">
  <h2 class="mat-headline"> Vidéos enregistrées</h2>

  <div *ngFor="let video of videos" class="video-card mat-elevation-z4">
    <mat-card>
      <mat-card-content>
        <video *ngIf="videoUrls[video.fileName]" 
               #videoPlayer
               [src]="videoUrls[video.fileName]" 
               controls 
               playsinline
               webkit-playsinline
               class="video-preview"
               (loadedmetadata)="setupVideoForIOS(videoPlayer)">
          <p>Votre navigateur ne supporte pas la lecture de vidéos HTML5.</p>
        </video>
      </mat-card-content>

      <mat-card-actions class="video-actions">
        <button class="btn dark" (click)="download(video.fileName)">
          ⬇️ Télécharger
        </button>
        <button class="btn dark" style="background:#ef4444;margin-left:8px;" (click)="delete(video)">
          🗑️ Supprimer
        </button>
      </mat-card-actions>
      
    </mat-card>
  </div>
</div>
