<div class="terms-container">
  <button mat-icon-button class="close-button" (click)="closePage()" aria-label="Fermer">
    <mat-icon>close</mat-icon>
  </button>
  <h1>Conditions Générales d'Utilisation</h1>

  <section>
    <h2>1. Introduction</h2>
    <p>
      En téléchargeant et utilisant <strong>PromptCam</strong>, vous acceptez les présentes conditions.
    </p>

    <h2>2. Utilisation de l’application</h2>
    <p>
      PromptCam est destinée à un usage personnel. Toute utilisation abusive ou illégale est interdite.
    </p>

    <h2>3. Abonnement</h2>
    <p>
      PromptCam propose un abonnement mensuel de <strong>1,99 €</strong> pour accéder à toutes les fonctionnalités.
      Vous pouvez annuler à tout moment via votre compte App Store ou Google Play.
    </p>

    <h2>4. Propriété</h2>
    <p>
      L’application, son logo, ses contenus et ses services sont la propriété de <strong>Codex</strong>.
    </p>

    <h2>5. Responsabilité</h2>
    <p>
      Nous faisons de notre mieux pour assurer un service de qualité, mais nous ne garantissons pas un fonctionnement
      sans interruption. Codex ne peut être tenu responsable de tout dommage lié à l’utilisation de l’application.
    </p>

    <h2>6. Modifications</h2>
    <p>
      Nous nous réservons le droit de modifier ces conditions à tout moment. Les utilisateurs seront informés
      en cas de changement important.
    </p>
  </section>
</div>
